body{
    padding-bottom:.96rem;
}

.common-pro-btn li em{
	display: inline-block;
  	width:1px;
 	height:0.2rem;
  	background:#e4e4e4;
 	margin-left: 0.33rem;
}

.mshop-manage .sort-btn-add{
    background: url(../../images/sort-add.png) no-repeat 0.9rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .sort-btn-to{
    background: url(../../images/sort-to.png) no-repeat 0.9rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .manage-a-bgadd{
    background: url(../../images/mshop-add-pro.png) no-repeat 0.9rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .manage-a-bgman{
    background: url(../../images/mshop-man-pro.png) no-repeat 0.9rem center #f9f9f9;
    background-size:10%;
}
.mshop-manage .manage-a-disable{
    background-image: url(../../images/mshop-man-disable.png);
    background-size:10%;
    color: #cdcdcd;
}