html,body{
    width: 100%;
    margin:0;
    padding:0;
}
@font-face{
    font-family: 'icomoon';
    src:    url('../../images/fonts/icomoon.eot?1741lu');
    src:    url('../../images/fonts/icomoon.eot?1741lu#iefix') format('embedded-opentype'),
    url('../../images/fonts/icomoon.ttf?1741lu') format('truetype'),
    url('../../images/fonts/icomoon.woff?1741lu') format('woff'),
    url('../../images/fonts/icomoon.svg?1741lu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.iconmoon{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.opg .talent-icon{
    margin-right: 0.09rem;
    font-size: 0.6rem;
    color: #fff;
}
.opg .talent-bj{
    background: url("../../images/privileges-bj.jpg") no-repeat;
    width: 100%;
    /*height: 100%;*/
	height: auto;
    background-size: cover;
}
.opg .talent-bj a{
    display: block;
    text-decoration: none;
    background: url("../../images/create-btn.png") no-repeat;
    width: 2.32rem;
    height: 0.65rem;
    line-height: 0.65rem;
    background-size: 2.32rem 0.65rem;
    margin: 0 auto;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    margin-top: 0.3rem;
}
.opg .talent-bj article{
    font-size: 0.26rem;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}
.opg .talent-banner{
    background: url("../../images/talent-banner-.png") no-repeat top center;
    width: 7.5rem;
    height: 4.67rem;
    background-size:7.5rem 4.67rem;
}
.opg .talent-content{
    background: url("../../images/talent-iconbj-.png") no-repeat center;
    width: 7.5rem;
    height: 5.6rem;
    background-size:7.5rem 5.6rem;
    /*margin: -0.8rem 0 0 0;*/
}
.opg .talent-content h1{
    width: 100%;
    height: auto;
    padding-top: 0.6rem;
    line-height: 0.48rem;
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    margin: 0;
}
.opg .talent-content figure:nth-of-type(1){
    margin-top: 0.6rem;
}
.opg .talent-content figure{
    height: 0.78rem;
    line-height: 0.7rem;
    width: 52%;
    margin:0;
    overflow: hidden;
}
.opg .talent-content figure p{
    float: right;
    font-size: 0.26rem;
    color: #fff;
    margin:0 0.3rem 0 0;
}
.opg .talent-content figure:nth-of-type(2),.talent-content figure:nth-of-type(4){
    width: 55%;
    float:right;
}
.opg .talent-content figure:nth-of-type(2) p,.talent-content figure:nth-of-type(4) p{
    float: left;
    font-size: 0.26rem;
    color: #fff;
    margin:0 0 0 0.3rem;
}
.opg .talent-content figure em{
    float: right;
    width: 0.45rem;
    height: 0.45rem;
    margin-top: 0.08rem;
}
.opg .talent-content figure:nth-of-type(2) em,.talent-content figure:nth-of-type(4) em{
    float: left;
}
.opg .talent-content figure:nth-of-type(5) em{
    margin-top: 0.1rem;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
    .talent-banner{
        height: 3.6rem;
        background-size: 7.5rem 3.6rem;
    }
    .opg .talent-bj a{
        margin-top: 0.3rem;
    }
}

.opg .talent-bj .talent-content{margin-top: 0;}