li{
	list-style:none;
}
body{background:#d02d48; color: #fff; font-family: "微软雅黑";line-height:1;}
.clearfix{
	zoom:1;
}
.clearfix:after{
	display: block;
	content:'';
	clear:both;
	height: 0;
}
.hide{ display: none;}
.baton-index{background:#d02d48;}
.baton-index .index-header{ background: url(../../images/banner.jpg) no-repeat; background-size: 100%; height: 5.51rem; position: relative;}
.baton-index .index-header h1{ text-indent: -9999px;}
.baton-index .index-header .a-btn{ display: inline-block; position: absolute; left: 3.3rem; top: 3.5rem; width: 1.63rem; height: 0.46rem; background: url(../../images/a-btn.png) no-repeat; background-size: 100%; text-indent: -9999px;}

.baton-index .index-main-text{ padding: 0.1rem 0.35rem 1.4rem .35rem; background: url(../../images/bg-down.png) no-repeat bottom; background-size: 100%;}
.baton-index .index-main-text .index-main-text-header{ text-align: center; font-size: .36rem; margin-bottom: .5rem; position: relative;}
.baton-index .index-main-text .index-main-text-header:before,.baton-index .index-main-text .index-main-text-header:after{ content: ""; height: 1px; width: 35%; border-bottom: 1px solid #fff; position: absolute; left: 0; top: 50%; margin-top: -1px;}
.baton-index .index-main-text .index-main-text-header:after{ left: auto; right: 0;}
.baton-index .index-main-text article{ font-size: .24rem; line-height: 2em;}
.baton-index .index-main-text article a{ color: #ffd200; text-decoration: underline;}
.baton-index .index-main-text .text-share{ text-align: center; color: #ffd200; font-size: .35rem; padding-top: .4rem;}
.baton-index .index-main-text .submit-box{ text-align: center; padding-top: .6rem;}
.baton-index .index-main-text .submit-box .submit-btn{ display: inline-block; width: 5.1rem; height: 1.13rem; background: url(../../images/submit-btn.png) no-repeat; background-size: 100%; text-indent: -9999px;}
.baton-index .index-main-text .submit-box .submit-btn2{ display: inline-block; width: 5.1rem; height: 1.13rem; background: url(../../images/share-btn.png) no-repeat; background-size: 100%; text-indent: -9999px;}
.baton-index .index-main-text .submit-box .share-btn{ background-image: url(../../images/share-btn.png);}
.baton-index .index-main-list{ text-align: center; padding: .3rem 0 0 .05rem;}
.baton-index .index-main-list li{ float: left; width: 2.15rem; padding: .15rem; border-radius: 4px; background: rgba(255,255,255,0.3); font-size: .24rem; margin: 0 .15rem;box-sizing:border-box;}
.baton-index .index-main-list li a{ display: block; color: #fff;}
.baton-index .index-main-list li .img-box{ width: 1.85rem; height: 1.6rem; overflow: hidden;}
.baton-index .index-main-list li .img-box img{ width: 100%;}
.baton-index .index-main-list li p{ padding: .2rem 0 .11rem;}
.baton-index .index-main-list .list-more{ color: #ffd200; text-decoration: underline; font-size: .24rem; padding-top: .2rem; display: block;}
.baton-index .index-main-top100,.baton-index .index-main-down .down-box{ margin:0.2rem 0.2rem 0 0.2rem; background: #b3253d; border-radius: 3px; font-size: .24rem;}
.baton-index .index-main-top100 .top100-header{ text-align: center; height: .88rem; line-height: .88rem; padding: 0 .2rem; margin-bottom: .2rem;}
.baton-index .index-main-top100 .top100-header span{ float: left; width: 50%; border-bottom: 2px solid #fff;}
.baton-index .index-main-top100 .top100-header span.active{ color: #ffd200; border-bottom-color: #ffd200;}

.baton-index .index-main-top100 .top100-list{ text-align: center; line-height: 2em;}
.baton-index .index-main-top100 .top100-list table{ width: 100%;}
.baton-index .index-main-top100 .top100-list .share-btn{width:1.1rem;height: 0.4rem;line-height: 0.4rem;display: inline-block;border-radius: 5px;background-color: #e8bec5;color: #b3253d;margin-bottom: 0.2rem;}
.baton-index .index-main-top100 .top100-list th{ font-weight: normal;}
.baton-index .index-main-down .down-box{ text-align: center; display: none;}
.baton-index .index-main-down .down-box .down-box-share{ padding: .2rem 0 .2rem;}
.baton-index .index-main-down .down-box .down-btn{ display: inline-block; line-height: .4rem; height: .4rem; padding: 0 .3rem; background: rgba(255,255,255,0.7); border-radius: 4px; color: #b3253d; margin-bottom: .2rem;}
.baton-index .index-main-top100 .top100-more{ display: block; height: .8rem; background: url(../../images/icon-down.png) no-repeat center; background-size: auto .4rem;}

/*分享弹窗*/
.window-bg{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 10; background: rgba(51,51,51,0.75); display: none;}
.window-share{ position: fixed; left: 0; bottom: -4rem; width: 100%; z-index: 20; background: #fff; padding-top: .4rem;}
.window-share li{ width: 1rem; float: left; font-size: .24rem; margin-left: 1.7rem; text-align: center;}
.window-share li a{ display: block; color: #333;}
.window-share li p{ padding: .3rem 0 .4rem;}
.window-share .change-btn{ display: block; height: 1rem; line-height: 1rem; font-size: .33rem; border-top: 1px solid #d5d5d5; text-align: center; color: #333;}
.share-weixin{ background: url(../../images/share-weixin.png) no-repeat center 0.7rem rgba(3,3,3,0.6); background-size: 100%; position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: none;}
.message-suc{ position: fixed; left:  50%; top: 50%; width: 3.8rem; height: 1.1rem; margin: -.55rem 0 0 -1.9rem; border-radius: .1rem; line-height: 1.1rem; z-index: 20; text-align: center; font-size: .32rem; background: rgba(0,0,0,0.65); display: none;}
.share-copy{ position: fixed; left: 0; bottom: -4rem; width: 100%; z-index: 20; background: #b3253d;}
.share-copy .index-main-share{ margin: .2rem; font-size: .24rem; padding: .2rem .2rem 0; text-align: center;}
.share-copy .index-main-share .share-link{ background: #fff; border-radius: 3px; padding: .2rem; color: #333;}
.share-copy .index-main-share .share-link p{ color: #0186da; padding-top: .3rem;}
.share-copy .index-main-share .share-close{ display:block; height: .8rem; background: url(../../images/icon-close.png) no-repeat center; background-size: auto .4rem;}
.share-copy .index-main-share strong{ display: block; font-weight: normal; padding-top: .2rem;}

/*css reset for Mobile*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;

}


:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
 .tabTop100 tbody tr{text-align:center;display:none;}
 .w1{width:1.3rem;}
 .w2{width:4.08rem;}
 .w3{width:1.25rem;}

 .window-message{ position: fixed; left: .48rem; top: 50%; width: 6.54rem; background: url(../../images/window-b.jpg) no-repeat right bottom #ffd200; background-size: auto 2.22rem; padding-bottom: 2.22rem; box-sizing: border-box; display: none;
transform: translateY(-50%);
-ms-transform:translateY(-50%);     /* IE 9 */
-moz-transform:translateY(-50%);    /* Firefox */
-webkit-transform:translateY(-50%); /* Safari 和 Chrome */
-o-transform:translateY(-50%);  /* Opera */
z-index:30;
}
.window-message .window-close{ position: absolute; right: .15rem; top: .15rem; display: inline-block; width: .34rem; text-align: center; height: .24rem; line-height: .24rem; font-size: .48rem; color: #333;}
.window-message .message-text{ background: url(../../images/window-t.jpg) no-repeat center top; background-size: 100% auto; padding: 1.35rem .15rem 0; line-height: .5rem;}
.window-message .message-text p{ font-size: .28rem; color: #333;}

/*bug fix*/
.baton-index .index-main-top100{
    margin-bottom: 0.2rem;
}