.con{ margin:10px;}
.contop{ background: #fff; text-align: center; margin: 10px auto;color: #333;
 	border-radius: 3px;padding: 12px;}
.contop p{font-size: 0.36rem;}  
 .contop .two{ font-size: 0.28rem; padding-top:5px;}
 .conlist{
 	background: #fff;
 	border-radius: 3px;
 	border:1px solid #dcdcdc;
    margin-bottom: 15px;
 }
 .conlistner{
        padding: 10px;
        width: 100%;
 }
 .conlist_L{
    background:url(../../images/lilia.png) 100% 50% no-repeat;
    -webkit-background-size: auto 120%;
    background-size: auto 120%;   
    width: 70%;
 	  float: left;
    padding:10px;
 }
 .llist{
 	color: #666;
 	font-size: 0.3rem;
 }
 .llist2{
 	color: #999;
 	font-size: 0.24rem;
    margin-top: 10px;
 }

 .conlist_R p{
 	color: #f97373;
 	font-size: 0.4rem;
   padding: 20px 10px 10px 50px;
   text-align: center;
 }
 .conlist_R p span{
 	font-size: 0.3rem;
 }
 .contime{
    width: 100%;
    background: #f97373;
    color: #fff;
    padding: 5px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
 }
 .contime p{
      font-size: 0.2rem;
 }
 .time{
    width:70%;
    float: left;
    height: 50px;
    padding-left: 10px;
    background: url(../../images/lala.png) 98.5% 0 no-repeat;
    -webkit-background-size: auto 30%;
    background-size: auto 30%;   
  }
.move {
    text-align:center;
}