    body{
        padding-bottom:1.26rem;
    }
     .mshop-manageOver{width:100%;}
     .manageOver-box_tab{width:100%;height:30px;background:#ccc;overflow:hidden;}
     .on{color:red;}
     .manageOver-box_tab li{width:100px;height:100%;float:left;text-align:center;}
     .manageOver-shoping1{width:100%;height:120px;border-top:1px solid #ccc;margin:10px 0;border-bottom:1px solid #ccc;}
     .manageOver-shop_top{width:100%;height:100px;overflow:hidden;}
     .manageOver-shop_left{width:80px;height:80px;float:left;}
     .manageOver-shop_right{width:180px;height:100px;float:right;background:#eee;}
     .manageOver-shop_bottom{overflow:hidden;border-top:1px solid #ccc;padding-top:10px;}
     .manageOver-shop_bottom ul li{width:75px;height:50px;float:left;}
     .manageOver-shop_bottom ul span{display:block;width:20px;height:20px;background:#ccc;margin-left:20px;text-align:center;}
     .manageOver-shop_bottom ul a{width:70px;height:30px;display:block;text-align:center;line-height:30px;text-decoration: none;}
     .manageOver-shoping_btn{width:100%;height:50px;}
     .manageOver-shoping_btn a{width:50%;height:50px;float:left;text-align:center;line-height:50px;text-decoration:none;}
     .manageOver-shoping2{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
     .manageOver-classtify{width:100%;height:80px;border-bottom:1px solid #ccc;}
     .manageOver-classtify p{margin:10px;}
     .manageOver-shoping{display:none;}
     .manageOver-shopover{display:none;}
     .manageOver-shoplist{display:none;}
     .manageOver-shop_check{float:left;width:16px;height:16px;background:url(../../images/u646.png);border-radius:100%;}
     .manageOver-noshop{width:250px;height:200px;background:#ccc;margin:10px;}
     .manageOver-selectorAll{background:url(../../images/u646.png) no-repeat;}

     .manageSale-shoping_btn .manageSale-selectorAll{
        width:10%;
        position:relative;
        margin-left:10%;
        font-size:0.25rem;
        color:#666; 
        padding-left: 0.1rem;  
    }
    .manageSale-shoping_btn .manageSale-selectorAll em{
        width:0.35rem;
        height:0.35rem;
        font-size:0.16rem;
        background:url(../../images/unchecked.png) no-repeat;
        background-size: 100%;
        /* transform:translate3d(-50%,-50%,0);
        -webkit-transform:translate3d(-50%,-50%,0);*/
        position: absolute;
        top: 38%;
        left:-50%;
    }
    .manageSale-shoping_btn .manageSale-selectorAll.checked em{
        background:url(../../images/checked.png) no-repeat;
        background-size: 100%;
    }
    .manageSale-shoping_btn .manageSale-delete{
        background:#ee2f2f;
        color:#fff;
         width:1.8rem;
        height:0.7rem;
        line-height:0.7rem;
        font-size:0.25rem;
        border-radius:4px;
        text-align:center;
        margin-right:0.6rem;
        margin-top:0.28rem;
    }

    .manageSale-shoping_btn{
        width:100%;
        height:1.26rem;
        line-height:1.26rem;
        background:#f9f9f9;
        position: fixed;
        bottom:0;
    }