body{
    padding-bottom:.96rem;
}
.mshop-manage{width:100%;}
.manage-box_tab{width:100%;height:30px;background:#ccc;overflow:hidden;}
.on{color:red;}
.manage-box_tab a{width:100px;height:100%;float:left;text-align:center;}
.manage-shoping1{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
.manage-shop_top{width:100%;height:100px;overflow:hidden;}
.manage-shop_left{width:80px;height:80px;float:left;}
.manage-shop_right{width:200px;height:100px;float:right;background:#eee;}
.manage-shop_bottom{overflow:hidden;border-top:1px solid #ccc;padding-top:10px;}
.manage-shop_bottom ul li{width:75px;height:50px;float:left;}
.manage-shop_bottom ul span{display:block;width:20px;height:20px;background:#ccc;margin-left:20px;text-align:center;}
.manage-shop_bottom a{width:25%;height:30px;float:left;text-align:center;line-height:30px;text-decoration: none;}
.manage-shoping_btn{width:100%;height:50px;}
.manage-shoping_btn a{width:150px;height:50px;background:#eee;float:left;text-align:center;line-height:50px;text-decoration:none;}
.manage-shoping2{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
.manage-classtify{width:100%;height:80px;border-bottom:1px solid #ccc;position:relative;}
.manage-classtify p{margin:10px;}
.manage-shoping{display:none;}
.manage-shopover{display:none;}
.manage-shoplist{display:none;}
.manage-classtify_edit{
  position:absolute;
  right:0rem;
  top:0.34rem;
  line-height: 0.4rem;        
}
.manage-classtify_edit a{
  display:inline-block;
  width:1.02rem;
  height:0.54rem;
  margin-right: 10px;       
  border:1px solid #f12c25;
  border-radius:3px;
  text-align: center;
  line-height: 0.54rem;
  color: #f12c25;
  font-size: 0.28rem;
}

.manage-classtify_edit .a_btn{
  background:#ee2f2f;
  color:#fff;
}

.manage-edit_over{
    width:100%;
    height:1rem;
    background:#ee2f2f;
    text-align:center;
    font-size: 18px;
    line-height:1rem;
    color:#fff;
    position: absolute;
}

.mshop-sort .sort-list li{
     padding:10px;
     border-bottom: 1px solid #cdcdcd;
}
.mshop-sort .sort-list li p{
     line-height: 20px;
}



.mshop-sortDetail{width:100%;}
.sortDetail-box_tab{width:100%;height:30px;background:#ccc;overflow:hidden;}
.on{color:red;}
.sortDetail-box_tab li{width:100px;height:100%;float:left;text-align:center;}
.sortDetail-shoping1{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
.sortDetail-shop_top{width:100%;height:100px;overflow:hidden;}
.sortDetail-shop_left{width:80px;height:80px;float:left;}
.sortDetail-shop_right{width:200px;height:100px;float:right;background:#eee;}
.sortDetail-shop_bottom{overflow:hidden;border-top:1px solid #ccc;padding-top:10px;}
.sortDetail-shop_bottom ul li{width:75px;height:50px;float:left;}
.sortDetail-shop_bottom ul span{display:block;width:20px;height:20px;background:#ccc;margin-left:20px;text-align:center;}
.sortDetail-shop_bottom a{float:left;width:25%;height:30px;text-align:center;line-height:30px;text-decoration: none;}
.sortDetail-shoping_btn{width:100%;height:50px;}
.sortDetail-shoping_btn a{width:150px;height:50px;background:#eee;float:left;text-align:center;line-height:50px;text-decoration:none;}
.sortDetail-shoping2{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
.sortDetail-classtify{width:100%;height:80px;border-bottom:1px solid #ccc;}
.sortDetail-classtify p{margin:10px;}
.sortDetail-shoping{display:none;}
.sortDetail-shopover{display:none;}
.sortDetail-shoplist{display:none;}
.sortDetail-noshop{width:250px;height:200px;background:#ccc;margin:10px;}


/* 分类 */
      .mshop-sortDetail{width:100%;}
      .sortDetail-box_tab{width:100%;height:30px;background:#ccc;overflow:hidden;}
      .on{color:red;}
      .sortDetail-box_tab li{width:100px;height:100%;float:left;text-align:center;}
      .sortDetail-shoping1{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
      .sortDetail-shop_top{width:100%;height:100px;overflow:hidden;}
      .sortDetail-shop_left{width:80px;height:80px;float:left;}
      .sortDetail-shop_right{width:200px;height:100px;float:right;background:#eee;}
      .sortDetail-shop_bottom{overflow:hidden;border-top:1px solid #ccc;padding-top:10px;}
      .sortDetail-shop_bottom ul li{width:75px;height:50px;float:left;}
      .sortDetail-shop_bottom ul span{display:block;width:20px;height:20px;background:#ccc;margin-left:20px;text-align:center;}
      .sortDetail-shop_bottom a{float:left;width:25%;height:30px;text-align:center;line-height:30px;text-decoration: none;}
      .sortDetail-shoping_btn{width:100%;height:50px;}
      .sortDetail-shoping_btn a{width:150px;height:50px;background:#eee;float:left;text-align:center;line-height:50px;text-decoration:none;}
      .sortDetail-shoping2{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
      .sortDetail-classtify{width:100%;height:80px;border-bottom:1px solid #ccc;}
      .sortDetail-classtify p{margin:10px;}
      .sortDetail-shoping{display:none;}
      .sortDetail-shopover{display:none;}
      .sortDetail-shoplist{display:none;}
      .sortDetail-noshop{width:250px;height:200px;background:#ccc;margin:10px;}
      .edit-short-cut{width:4.2rem;}
/*acron-sort-start*/
.mshop-manage .mshop-sort-ul li{
    width:100%;
    height:1.25rem;
    border-top:1px solid #e4e4e4;
    background:#fff;
    padding-left:0.2rem;
    position: relative;
}
.mshop-manage .mshop-sort-ul li:first-child{
    border-top-color:#fff;
}
.mshop-manage .mshop-sort-ul li h3{
    height:0.51rem;
    line-height: 0.51rem;
    font-size:0.31rem;
    color:#333;
    margin-top: 0.16rem;
    font-family: '微软雅黑';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	-webkit-box-orient: vertical;
    display: inline-block;
}
.mshop-manage .mshop-sort-ul li p{
    height:0.15rem;
    line-height:0.15rem;
    color:#999999;
    font-size:0.24rem;
}
.mshop-manage .sort-btn-add{
    background: url(../../images/sort-add.png) no-repeat 0.6rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .sort-btn-to{
    background: url(../../images/sort-to.png) no-repeat 0.6rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .manage-a-bgadd{
    background: url(../../images/mshop-add-pro.png) no-repeat 0.6rem center #f9f9f9;
    background-size:10%;
}

.mshop-manage .manage-a-bgman{
    background: url(../../images/mshop-man-pro.png) no-repeat 0.6rem center #f9f9f9;
    background-size:10%;
}
.mshop-manage .manage-a-disable{
    background-image: url(../../images/mshop-man-disable.png);
    background-size:10%;
    color: #cdcdcd;
}
/*acron-sort-end*/      


.mshop-manage .mshop-manage-ctrlbtn{  
  background:#f9f9f9;
}


/* 下架 */

     .mshop-manageOver{width:100%;}
     .manageOver-box_tab{width:100%;height:30px;background:#ccc;overflow:hidden;}
     .on{color:red;}
     .manageOver-box_tab li{width:100px;height:100%;float:left;text-align:center;}
     .manageOver-shoping1{width:100%;height:120px;border-top:1px solid #ccc;margin:10px 0;border-bottom:1px solid #ccc;}
     .manageOver-shop_top{width:100%;height:100px;overflow:hidden;}
     .manageOver-shop_left{width:80px;height:80px;float:left;}
     .manageOver-shop_right{width:180px;height:100px;float:right;background:#eee;}
     .manageOver-shop_bottom{overflow:hidden;border-top:1px solid #ccc;padding-top:10px;}
     .manageOver-shop_bottom ul li{width:75px;height:50px;float:left;}
     .manageOver-shop_bottom ul span{display:block;width:20px;height:20px;background:#ccc;margin-left:20px;text-align:center;}
     .manageOver-shop_bottom ul a{width:70px;height:30px;display:block;text-align:center;line-height:30px;text-decoration: none;}
     .manageOver-shoping_btn{width:100%;height:50px;}
     .manageOver-shoping_btn a{width:50%;height:50px;float:left;text-align:center;line-height:50px;text-decoration:none;}
     .manageOver-shoping2{width:100%;height:150px;border-top:1px solid #ccc;margin:10px 0;}
     .manageOver-classtify{width:100%;height:80px;border-bottom:1px solid #ccc;}
     .manageOver-classtify p{margin:10px;}
     .manageOver-shoping{display:none;}
     .manageOver-shopover{display:none;}
     .manageOver-shoplist{display:none;}
     .manageOver-shop_check{float:left;width:16px;height:16px;background:url(../../images/u646.png);border-radius:100%;}
     .manageOver-noshop{width:250px;height:200px;background:#ccc;margin:10px;}
     .manageOver-selectorAll{background:url(../../images/u646.png) no-repeat;}