body{
	background: #eef9ff;
}
.mood{
	width:100%;
	font-family: '微软雅黑';
	background: #eef9ff;
}


.Index-imgTab{
	width:100%;
	height:14.24rem;
	background:url(../../../../images/op/app-mood/mood-top.jpg) no-repeat;
	background-size:100%;
	position:relative;
	left:0;
	top:0;
}
.Index-imgTab p{
	height: 0.7rem;
	width: 100%;
	padding: 0 0.4rem 0 0.2rem;
	background: #fff;
	font-size: 0.26rem;
	line-height: 0.7rem;
	color: #467181;
	text-align: center;
	background:rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Index-imgTab p span{
	display: inline-block;
	width: 0.32rem;
	height: 0.3rem;
	background: url(../../../../images/op/app-mood/mood-icon.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 0.05rem;
	margin-right: 0.2rem;
}
.Index-shareBtn{
	width:4.84rem;
	height:1rem;
	position:absolute;
	left:1.3rem;
	top:12.75rem;
}
.Index-shareText{
	font-size:0.4rem;
}

.mood-activate{
	height: auto;
	width: 6.85rem;
	border-radius: 6px;
	border: 1px solid #cce0eb;
	margin: 0 0.32rem 0 0.32rem;
	overflow: hidden;
}
.mood-activate header{
	height:0.69rem;
	line-height:0.69rem;
	width:6.85rem;
	text-align: center;
	font-size: 0.34rem;
	color:#fff;
	background:#2db4f6;
	position: relative;
	
}
.mood-activate div{
	padding: 0.3rem 0.5rem;
}
.mood-activate div p{
	font-size: 0.24rem;
	color: #0e3e56;
	line-height: 0.38rem;
	margin-bottom: 0.15rem;
	text-align:justify;
	text-justify:inter-ideograph;
	padding-left: 0.38rem;
}
.mood-activate div p i{
	margin-left: -0.38rem;
}
.mood-box header {
    height: 0.96rem;
    line-height: 0.96rem;
    width: 100%;
    text-align: center;
    font-size: 0.42rem;
    color: #fff;
    background: #2db4f6;
    margin: 0.47rem 0rem 0.21rem 0rem;
}
.mood-box .mood-div{
	margin:0.24rem 0.13rem 0.36rem 0.13rem;
	padding:0.35rem 0.1rem 0.1rem 0.1rem;
	background:#93dbff;
	border-radius:0.15rem;
	height:auto;
}
.mood-box .mood-shop{
	width:3.4rem;
	height:4.80rem;
	background:#fff;
	float:left;
	margin:0 0 0.08rem 0.08rem;
	position: relative;
}
.mood-box .mood-shop span.mood-hot{
	width: 0.98rem;
	height: 0.81rem;
	position: absolute;
	top: 0;
	left: 0.2rem;
	background-size: 100%;
}
.mood-box .mood-shop span.mood-hot img{
	width: 100%;
}
.mood-box .mood-shop>img{
    width:3.05rem;
    height:3.05rem;
    margin:0.2rem 0.2rem 0 0.2rem;
}
.mood-shop .mood-shop-font1{
	font-size:0.25rem;
	color:#333333;
	width:100%;
	height:0.8rem;
	padding:0.1rem 0.2rem 0 0.2rem;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.mood-shop .mood-shop-font2{
	width:100%;
	height:0.50rem;
	font-size:0.20rem;
	padding:0.1rem 0 0 0.18rem;
	color:#ee2f2f;
}
.mood-shop .mood-shop-font2 .color1{
	color:#ee2f2f;
	font-size:0.35rem;
	font-weight:bold;
}
.mood-shop .mood-shop-font2 .color1{
	float:left;
}
.mood-shop .mood-shop-font2 .color1 i{
	font-size: 0.20rem;
}
.mood-shop .mood-shop-font2 .color2{
	font-size:0.2rem;
	color:#999999;
	float:right;
	margin-right:0.24rem;
	margin-top:0.09rem;
}
.window-share{ 
	position: fixed; 
	left: 0; 
	bottom: -4rem; 
	width: 100%;
	z-index: 20; 
	background: #fff; 
	padding-top: .4rem;
}
.window-share li{ 
	width: 1rem; 
	float: left;
	font-size: .24rem; 
	margin-left:1.7rem; 
	text-align: center;
}
.window-share li a{ 
	display: block; 
	color: #333;
}
.window-share li p{ 
	padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
	display: block; height: 1rem; 
	line-height: 1rem; font-size: .33rem; 
	border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.window-bg{ 
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%; 
	z-index: 10; 
	background: rgba(51,51,51,0.75); 
	display: none;
}

/* 按钮-返回顶部 */
.returntop{
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	right:10px;
	bottom: 68px;
}
.returntop img{
	width: 100%;
	height: auto;
}
/* 黑背景*/
.window-bg{ 
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%; 
	z-index: 10; 
	background: rgba(51,51,51,0.75); 
	display: none;
}
/*分享*/
.window-share{ 
	position: fixed; 
	left: 0; bottom: -4rem; 
	width: 100%; z-index: 20; 
	background: #fff; 
	padding-top: .4rem;
}
.window-share li{ 
	width: 1rem; 
	float: left;
	font-size: .24rem; 
	margin-left:1.7rem; 
	text-align: center;
}
.window-share li a{ 
	display: block; 
	color: #333;
}
.window-share li p{ 
	padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
	display: block; height: 1rem; 
	line-height: 1rem; font-size: .33rem; 
	border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.totop{
	width: 40px;
    height: 40px;
    background-image: url(../../../../images/op/app-mood/mood-returntop.png?version=1461832073628);
    background-size: 100%;
    position: fixed;
    bottom: 68px;
    right: 10px;
    z-index: 999
}