body{
	background: #ffe0e7;
}
.coquetry{
	width:100%;
	font-family: '微软雅黑';
	background: #ffe0e7;
}


.Index-imgTab{
	width:100%;
	height:10.96rem;
	background:url(../../../../images/op/app-coquetry/co-top.jpg);
	background-size:100%;
	position:relative;
	left:0;
	top:0;
}
.Index-shareBtn{
	width:4.84rem;
	height:1rem;
	position:absolute;
	left:1.3rem;
	top:8.62rem;
}
.Index-shareText{
	font-size:0.4rem;
}


.coquetry-box header{
	height:0.96rem;
	line-height:0.96rem;
	width:100%;
	text-align: center;
	font-size: 0.42rem;
	color:#fff;
	background:#ff5c87;
	position: relative;
}
.coquetry-box header p{
	position: relative;
	display: inline-block;
}
.coquetry-box header .love{
	position:absolute;
	top:0;
	right:-0.6rem;
	width:0.4rem;
	height:0.34rem;
	background:url(../../../../images/op/app-coquetry/co-love.jpg);
	background-size:100%;
	display: block;
}
.coquetry-box header .resleft{
	position:absolute;
	top:0.74rem;
	left:0.35rem;
	width:0.18rem;
	height:0.73rem;
	background:url(../../../../images/op/app-coquetry/co-res.png);
	background-size:100%;
}
.coquetry-box header .resright{
	position:absolute;
	top:0.74rem;
	right:0.35rem;
	width:0.18rem;
	height:0.73rem;
	background:url(../../../../images/op/app-coquetry/co-res.png);
	background-size:100%;
}
.coquetry-box .coquetry-div{
	margin:0.24rem 0.13rem 0.36rem 0.13rem;
	padding:0.35rem 0.1rem 0.1rem 0.1rem;
	background:#ff7f9d;
	border-radius:0.15rem;
	height:100%;
}
.coquetry-box .coquetry-shop{
	width:3.4rem;
	height:4.80rem;
	background:#fff;
	float:left;
	margin:0 0 0.08rem 0.08rem;
	position:relative;
}
.coquetry-shop .coquetry-em{
    position:absolute;
    left:0;
    top:0;
    width:1rem;
    height:1rem;
    background:blue;
}
.coquetry-box .coquetry-shop img{
    width:3.05rem;
    height:3.04rem;
    margin:0.2rem 0.2rem 0 0.2rem;
}
.coquetry-shop .coquetry-shop-font1{
	font-size:0.25rem;
	color:#333333;
	width:100%;
	height:0.9rem;
	padding:0.1rem 0.2rem 0 0.2rem;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.coquetry-shop .coquetry-shop-font2{
	width:100%;
	height:0.50rem;
	font-size:0.20rem;
	padding:0.1rem 0 0 0.18rem;
	color:#ee2f2f;
}
.coquetry-shop .coquetry-shop-font2 .color1{
	color:#ee2f2f;
	font-size:0.35rem;
	font-weight:bold;
}
.coquetry-shop .coquetry-shop-font2 .color1{
	float:left;
}
.coquetry-shop .coquetry-shop-font2 .color2{
	font-size:0.2rem;
	color:#999999;
	float:right;
	margin-right:0.24rem;
	margin-top:0.09rem;
}
.window-share{ 
	position: fixed; 
	left: 0; 
	bottom: -4rem; 
	width: 100%;
	z-index: 20; 
	background: #fff; 
	padding-top: .4rem;
}
.window-share li{ 
	width: 1rem; 
	float: left;
	font-size: .24rem; 
	margin-left:1.7rem; 
	text-align: center;
}
.window-share li a{ 
	display: block; 
	color: #333;
}
.window-share li p{ 
	padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
	display: block; height: 1rem; 
	line-height: 1rem; font-size: .33rem; 
	border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.window-bg{ 
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%; 
	z-index: 10; 
	background: rgba(51,51,51,0.75); 
	display: none;
}

/* 按钮-返回顶部 */
.returntop{
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	right:10px;
	bottom: 68px;
}
.returntop img{
	width: 100%;
	height: auto;
}
/* 黑背景*/
.window-bg{ 
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%; 
	z-index: 10; 
	background: rgba(51,51,51,0.75); 
	display: none;
}
/*分享*/
.window-share{ 
	position: fixed; 
	left: 0; bottom: -4rem; 
	width: 100%; z-index: 20; 
	background: #fff; 
	padding-top: .4rem;
}
.window-share li{ 
	width: 1rem; 
	float: left;
	font-size: .24rem; 
	margin-left:1.7rem; 
	text-align: center;
}
.window-share li a{ 
	display: block; 
	color: #333;
}
.window-share li p{ 
	padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
	display: block; height: 1rem; 
	line-height: 1rem; font-size: .33rem; 
	border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.totop{
	width: 40px;
    height: 39px;
    background-image: url(../../../../images/op/app-coquetry/returntop.png?version=1461832073628);
    background-size: 100%;
    position: fixed;
    bottom: 68px;
    right: 10px;
    z-index: 999
}