*{
	margin:0;
 	padding:0;
 	list-style: none;
}
body{background:#ffcc00;}
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}

ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-family:'微软雅黑',Geneva, Arial, Helvetica, sans-serif;text-align:center; margin:0 auto; color:#666; font-size:13px;}
table{border-collapse:collapse;border-spacing:0;}
.box_163css{width:100%; margin:0 auto;}
.reminiscence-wrapper {width:100%;float:left;position:relative;z-index:1;overflow:hidden;-webkit-border-radius:10px;-moz-border-radius:10px;
-o-border-radius:10px;border-radius:10px; margin-bottom:15px;}
.reminiscence-scroller{width:400%;height:100%;float:left;}
.reminiscence-scroller ul{display:block;float:left;width:100%; height:100%;
    /*background:#dca702;*/
    padding-top:0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 0.2rem;
     }
.reminiscence-scroller li{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block; 
    float:left;
    width:25%;
    text-align:center;
    line-height:140%;
    margin-left: -0.05rem;
     
 }
.reminiscence-thelist{ padding-top:15px;}
.reminiscence-thelist li span,.reminiscence-thelist li figure{ 
    width:33%; 
    width:2.2rem;
    height:auto;
    overflow:hidden;
    display:inline-block;
    background:#fff;
    margin-left: 0.04rem;
}
.reminiscence-thelist li span img,.reminiscence-thelist li figure  img{
 width:80%; 
 display:block;
 margin:0 auto; 
 max-width:282px; 
 max-height:282px;
 margin: 0 auto;
    display: block;
    margin-top: 0.25rem;
    width: 2.07rem;
    height: 2.21rem;
}
.reminiscence-thelist li em,.reminiscence-thelist li figcaption{ width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #3e3e3e;
    font-size: 0.3rem;
    margin-top: 0.18rem;
    background: #ddd;
}

/**/
.red{color:#ee2f2f;}
.clearfix:after{content:'.';display:block;height:0;font-size: 0;clear:both;visibility:hidden;} 
.clearfix{*zoom:1;} 
.opg-reminiscence{}
.pull-left{float:left;}
.pull-right{float:right;}

.reminiscence-header  .reminiscence-nav
{
	width:100%;
	height:1.25rem;
	background:#a60000;
}
.reminiscence-title{text-align: center;}
.reminiscence-header  .reminiscence-nav ul{list-style: none;height:auto;overflow: hidden;}
.reminiscence-header  .reminiscence-nav ul li
{
    width:2.25rem;
	height:0.87rem;
	float:left;
	margin:0.15rem 0.09rem; 
}
.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav01{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav01.png) no-repeat;
 	background-size:100%; 
 	margin-left:0.18rem;
}
.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav02{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav02.png) no-repeat;
 	background-size:100%;
}
.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav03{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav03.png) no-repeat;
 	background-size:100%; 
 }

.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav01-active{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav-active01.png) no-repeat;
 	background-size:100%; 
 	margin-left:0.18rem;
}
.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav02-active{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav-active02.png) no-repeat;
 	background-size:100%; 
 
}
.reminiscence-header  .reminiscence-nav ul li.reminiscence-nav03-active{
 	background:url(../../../../images/op/reminiscence/reminiscence-nav-active03.png) no-repeat;
 	background-size:100%; 
}

.reminiscence-banner{ width:100%;height:8.45rem;	
	background:url(../../../../images/op/reminiscence/reminiscence-banner.jpg) no-repeat;
    background-size:100%; 
    position:relative;
}
.reminiscence-banner  .reminiscence-banner-share{
	width:6.88rem;
	height:1.33rem;
	/*background:url(../../../../images/op/reminiscence/reminiscence-share.png) no-repeat;
    background-size:100%; */
    position:absolute;
    left:50%;
    margin-left:-3.44rem;
    bottom:0.3rem;
}

.reminiscence-banner  .reminiscence-banner-share  button,.reminiscence-banner  .reminiscence-banner-share  button:focus,.reminiscence-banner  .reminiscence-banner-share  button:active{
  border:none;
   outline: none;
}

.reminiscence-banner  .reminiscence-banner-share  .activity-button01{
  width:3.33rem;
  height:1.2rem;
  background:url(../../../../images/op/reminiscence/activity-button01.png) no-repeat;
    background-size:100%; 
   
}
.reminiscence-banner  .reminiscence-banner-share  .activity-button02{
  width:3.33rem;
  height:1.2rem;
  background:url(../../../../images/op/reminiscence/activity-button02.png) no-repeat;
  background-size:100%; 
   margin-left: 0.1rem;
}

.reminiscence-part1 .reminiscence-title{ 
    width:100%;
    height:1.1rem;
    background:#ff4200;
}
.reminiscence-part1 .reminiscence-title   .reminiscence-part1-h2-title{
    width:5.4rem;
    height:1.1rem;
    background:url(../../../../images/op/reminiscence/reminiscence-title01.png) no-repeat;
    background-size:100%; 
    display:block;
    margin:0 auto;
}
.reminiscence-part1 .reminiscence-part1-remind{
	width:7.16rem;
    height:1.85rem;
    background:url(../../../../images/op/reminiscence/reminiscence-remind01.png) no-repeat;
    background-size:100%;
    margin:0 auto;
    margin-top: 0.2rem;
}
.reminiscence-part1 .reminiscence-part1-picture{
	width:7.1rem;
	height:auto; 
	overflow:hidden;
	padding:0.15rem;
	background:#dca702;
	margin:0 auto;
    margin-top: 0.2rem;
    margin-left:0.2rem;
    padding-top:0.05rem;
   }
.reminiscence-part1 .reminiscence-part1-picture figure{
	width:49%;
	height:4.9rem;
	background:#fff;
	float:left;
  margin-left:0.02rem;
  margin-top:0.1rem;
}
.reminiscence-part1 .reminiscence-part1-picture figure:nth-of-type(even){
  margin-left: 0.1rem;
 
}
.reminiscence-part1 .reminiscence-part1-picture  .picture-figure2,.reminiscence-part1 .reminiscence-part1-picture figure:nth-of-type(even){
	margin-left:0.1rem;
}
.reminiscence-part1 .reminiscence-part1-picture figure img{
  width:2.6rem;
  height:2.8rem;
	display:block;
	margin:0 auto;
	margin-top:0.25rem;
}
.reminiscence-part1 .reminiscence-part1-picture figure   figcaption{
	width:85%;
	margin:0 auto;
   color:#000;
   padding:0.1rem;
   margin-top:0.25rem;
  font-size: 0.27rem; 
}
.reminiscence-part1 .reminiscence-part1-picture figure   figcaption.picture-figure-figone{
   width: 2.6rem;
   text-align: left;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.reminiscence-part1 .reminiscence-part1-picture figure   figcaption.picture-figure-figcation{
     margin-top: 0;    
}
.reminiscence-part1 .reminiscence-part1-picture figure   figcaption.picture-figure-figcation  strong{
     float:left;  
     margin-top:-0.1rem;
}
.reminiscence-part1 .reminiscence-part1-picture figure   p{ 
    margin-top:0.25rem;
    height:0.43rem;
}
/*text-decoration:line-through*/
.reminiscence-part1 .reminiscence-part1-picture figure  strong.price{
   font-size: 0.32rem; 
  
}
.reminiscence-part1 .reminiscence-part1-picture  figure  span.number-through{
   text-decoration:line-through;
   font-size: 0.22rem; 
   color:#999;
}

/*学霸儿童珍藏经典*/
.reminiscence-part1 .reminiscence-title{
	margin-top:0.2rem;
	margin-bottom:0.2rem;
}
.reminiscence-part1 .reminiscence-title   .reminiscence-part1-h2-title02{
    width:5.4rem;
    height:1.1rem;
    background:url(../../../../images/op/reminiscence/reminiscence-title02.png) no-repeat;
    background-size:100%; 
    display:block;
    margin:0 auto;
}
.reminiscence-part1 .reminiscence-part1-remind02{
	width:7.16rem;
    height:1.85rem;
    background:url(../../../../images/op/reminiscence/reminiscence-remind02.png) no-repeat;
    background-size:100%;
    margin:0 auto;
    margin-top: 0.2rem;
}
/*骚年请留步，这里还有好货*/
.reminiscence-part1 .reminiscence-title   .reminiscence-part1-h2-title03{
    width:7.12rem;
    height:1.1rem;
    background:url(../../../../images/op/reminiscence/reminiscence-title03.png) no-repeat;
    background-size:100%; 
    display:block;
    margin:0 auto;
}
.reminiscence-part1 .reminiscence-part1-remind03{
	width:7.16rem;
    height:1.85rem;
    background:url(../../../../images/op/reminiscence/reminiscence-remind03.jpg) no-repeat;
    background-size:100%;
    margin:0 auto;
    margin-top: 0.2rem;
}
/*加入圈子一起“聊童年”*/
.reminiscence-part4 .reminiscence-title   .reminiscence-part1-h2-title04{
    width:6.78rem;
    height:1.1rem;
    background:url(../../../../images/op/reminiscence/reminiscence-title04.png) no-repeat;
    background-size:100%; 
    display:block;
    margin:0 auto;
}

.reminiscence-part4 ul{ list-style: none;width:92%;background:#dca702;padding:0.2rem  0.08rem;
height:auto;overflow:hidden;margin:0 auto;}
.reminiscence-part4 ul li{ float:left;margin-left: 0.04rem;}
.reminiscence-part4 figure{
	width:2.2rem;
	height:auto;
	overflow:hidden;
	background:#fff;
}
.reminiscence-part4 figure  img{
	margin:0 auto;
	display:block;
	margin-top:0.25rem;
    width:2.07rem;
    height:2.21rem;
}
.reminiscence-part4 figure  figcaption{
	width:100%;
	height:0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color:#3e3e3e;
	font-size: 0.3rem;
	margin-top:0.18rem;
	background:#ddd;
}
/*分享*/
.window-share{ 
    position: fixed; 
    left: 0; bottom: -4rem; 
    width: 100%; z-index: 20; 
    background: #fff; 
    padding-top: .4rem;
}
.window-share li{ 
    width: 1rem; 
    float: left;
    font-size: .24rem; 
    margin-left:1.7rem; 
    text-align: center;
}
.window-share li a{ 
    display: block; 
    color: #333;
}
.window-share li p{ 
    padding: .3rem 0 .4rem;
}
.window-share .change-btn{ 
    display: block; height: 1rem; 
    line-height: 1rem; font-size: .33rem; 
    border-top: 1px solid #d5d5d5; text-align: center; color: #333;
}
.window-share img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
/* 黑背景*/
.window-bg{ 
    position: fixed; 
    left: 0; top: 0; 
    width: 100%; height: 100%; 
    z-index: 10; 
    background: rgba(51,51,51,0.75); 
    display: none;
}

/* 按钮-返回顶部 */
.returntop{
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    right:10px;
    bottom: 68px;
    z-index: 100;
}
.returntop img{
    width: 100%;
    height: auto;
}

/**
 * Swiper css
 * 
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.swiper-wrapper .swiper-slide{
    width: 2.2rem; 
    height: auto;
    overflow: hidden;
  }

.swiper-wrapper .swiper-slide figure{
   /* width: 2.2rem;*/
    height: auto;
    overflow: hidden;
    background: #fff;
    
}
.swiper-wrapper .swiper-slide figure img{
    margin: 0 auto;
    display: block;
    margin-top: 0.25rem;
    width: 2rem;
    height: 2rem;
    
}
.swiper-wrapper .swiper-slide figure figcaption {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #3e3e3e;
    font-size: 0.3rem;
    /*margin-top: 0.18rem;*/
    background: #ddd;
}

/*alert*/

.background{
  width:100%;
  height:260%;
  background:#000;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 1000;
  opacity: 0.8;
}
.activity-result  .activity-alert{
  position: absolute;
    z-index: 12000;
    height: 9.83rem;
    width: 7.45rem;
    left: 50%;
    top:0.1rem;
    margin-left: -3.725rem;
    background:url(../../../../images/op/reminiscence/activity-result) no-repeat;
  background-size:100%;
}
.activity-result  button{
  width:5.76rem;
  height:1.46rem;
  border: 0;
  position:absolute;
  top:10rem;
  left:50%;
  margin-left: -2.88rem;
  color:#fff;
  font-size: 0.4rem;
  text-align: center;
  line-height: 1.58rem;
  background:url(../../../../images/op/reminiscence/activity01.png) no-repeat;
    background-size:100%;
    z-index: 12000;
}

/*nine */
.result-nine  .activity-alert{
  width:6.85rem;
    height: 6.25rem;
    left: 50%;
    top:2.65rem;
    margin-left: -3.415rem;
    background:url(../../../../images/op/reminiscence/activity-coupon.png) no-repeat;
    background-size:100%;
}
/**/
.result-nine  button{
  top:6.02rem;
  background:url(../../../../images/op/reminiscence/activity-button-coupon.png) no-repeat;
  background-size:100%;
}

.result-nine  .activity-alert .activity-close{
  width:0.65rem;
  height:0.65rem;
  position:absolute;
  top:-0.8rem;
  right:0rem;
  background:url(../../../../images/op/reminiscence/acvitity-close.png) no-repeat;
    background-size:100%;
}






