@charset "UTF-8";
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100px;
}

body {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}

a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.xin-btn {
  color: #fff;
  display: block;
  font-size: 0.34rem;
  height: 0.86rem;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 0.16rem;
}

.orange-btn {
  border: 1px solid #d49400;
  text-shadow: -1px -1px 0 #de9600;
  background: -webkit-linear-gradient(#febe00, #dc8200);
  background: linear-gradient(#febe00, #dc8200);
  box-shadow: inset 0 1px 0 #ffd900;
}
.orange-btn:active {
  background: -webkit-linear-gradient(#e8ae02, #c57602);
  background: linear-gradient(#e8ae02, #c57602);
}

.blue-btn {
  border: 1px solid #50a8e6;
  text-shadow: -1px -1px 0 #1377ba;
  background: -webkit-linear-gradient(#54b2f2, #1e89cd);
  background: linear-gradient(#54b2f2, #1e89cd);
  box-shadow: inset 0 1px 0 #60cbff;
}
.blue-btn:active {
  background: -webkit-linear-gradient(#4798d0, #1b79b5);
  background: linear-gradient(#4798d0, #1b79b5);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.lose-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.4rem;
  margin-left: -2.7rem;
  margin-top: -1.35rem;
  background-color: #f9f9f9;
  border-radius: 0.1rem;
}
.lose-box p {
  font-size: 0.32rem;
  text-align: center;
  line-height: 0.44rem;
  padding: 0.43rem 0 0.5rem;
  border-bottom: 1px solid #bfbfbf;
}
.lose-box p span {
  display: block;
}
.lose-box .btns a {
  display: inline-block;
  width: 49%;
  line-height: 0.86rem;
  font-size: 0.32rem;
  text-align: center;
  color: #333;
}
.lose-box .btns .regret-btn {
  border-right: 1px solid #bfbfbf;
}
.lose-box .btns .lose-btn {
  color: #ee2f2f;
}

html {
  font-family: 'Microsoft YaHei',Arial,"Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/*------------嵌入字体-----------*/
@font-face {
  font-family: 'icomoon';
  src: url("../../../images/fonts/icomoon.eot?1741lu");
  src: url("../../../images/fonts/icomoon.eot?1741lu#iefix") format("embedded-opentype"), url("../../../images/fonts/icomoon.ttf?1741lu") format("truetype"), url("../../../images/fonts/icomoon.woff?1741lu") format("woff"), url("../../../images/fonts/icomoon.svg?1741lu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iconmoon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropload-up, .dropload-down {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-size: 0.26rem;
}

.dropload-refresh, .dropload-update, .dropload-load {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.dropload-up .loading, .dropload-down .loading {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../../../images/loading.gif);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin: 6px;
  vertical-align: middle;
}
