.gomeIndex{
	width:100%;
	font-family: '微软雅黑';
}

.Index-imgTab{
	width:100%;
	height:3.18rem;
	border-top:2px solid #cdcdcd;
	overflow:hidden;
	position:relative;
}
/* .Index-imgTab .index-imgMove{
	width:37.5rem;
	height:31.8rem;
	position:absolute;
	left:0;
	top:0;
}
.Index-imgTab .index-imgMove img{
	width:7.5rem;
	float:left;
}
.Index-imgTab ul{
	width:1.1rem;
	height:0.12rem;
	position:absolute;
	left:50%;
	margin-left:-0.55rem;
	bottom:0.25rem;
}
.Index-imgTab ul li{
	width:0.12rem;
	height:0.12rem;
	margin-left:0.1rem;
	float:left;
	text-indent:-999rem;
	background:#fdfbfe;
	border-radius:50%;
}
.Index-imgTab ul li.on{
	background:#fec901;
} */

/*lunbo*/
.slider .bd li img {
	height:52%;		
}
.slider {
	height:100%;
}
.slider .slid-pic{
        width:100%;
        height:100%;
}
.heilogin{
	height:100%;
}
.heilogin img{
	width:100%;
}
/**/
.Index-nav{
	width:7.5rem;
	height:3.6rem;
	background:#ffffff;
}
.Index-nav .nav-a{
	width:1.875rem;
	height:1.80rem;
	float:left;
	font-size:0.23rem;
	font-family: '微软雅黑';
	text-align:center;
	position:relative;
}
.Index-nav .nav-a img{
	width:0.9rem;
	height:0.9rem;
	border:0;
	position:absolute;
	left:0.50rem;
	top:0.35rem;
}
.Index-nav .nav-a p{
	width:1.875rem;
	height:0.55rem;
	position:absolute;
	left:0;
	top:1.25rem;
}
.Index-active{
	width:100%;
}
.Index-gome{
	background:#fff;
}
.Index-gome header{
	width:100%;
	height:0.7rem;
	background:url(../images/index-gome.png) no-repeat left #ececec;
	background-size:1.85rem;
	text-indent: -999rem;
}
.gome-three{
	width:100%;
	height:4.4rem;
}
.gome-three .gome-three-l{
	width:3.75rem;
	height:4.4rem;
	float:left;
	text-align:center;
	border-bottom:1px solid #ececec;
	border-right:1px solid #ececec;
}
.gome-three .gome-three-l dt{
	width:100%;
	height:3.35rem;
}
.gome-three .gome-three-l dt img{
	width:100%;
}
.gome-three-l .gome-three-l-font1{
	font-size:0.32rem;
	color:#e50110;
	font-weight:bold;
}
.gome-three-l .gome-three-l-font2{
	font-size:0.27rem;
	color:#999999;
}
.gome-three .gome-three-r{
	width:3.75rem;
	height:4.4rem;
	float:left;
}
.gome-three .gome-three-r .gome-three-r-top{
	width:3.74rem;
	height:2.19rem;
	border-bottom:1px solid #ececec;
	display:block;
	position:relative;
}
.gome-three .gome-three-r .gome-three-r-bottom{
	width:3.74rem;
	height:2.21rem;
	border-bottom:1px solid #ececec;
	display:block;
	position:relative;
}
.gome-three-r-top .gome-three-r-top-font1{
    font-size:0.3rem;
    color:#333333;
    position:absolute;
    left:0.25rem;
    top:0.48rem;
    font-weight:bold;
}
.gome-three-r-bottom .gome-three-r-bottom-font1{
    font-size:0.3rem;
    color:#333333;
    position:absolute;
    left:0.25rem;
    top:0.48rem;
    font-weight:bold;
}
.gome-three-r-top .gome-three-r-top-font2{
    font-size:0.22rem;
    color:#9f9f9f;
    position:absolute;
    left:0.25rem;
    top:0.95rem;
}
.gome-three-r-bottom .gome-three-r-bottom-font2{
    font-size:0.22rem;
    color:#9f9f9f;
    position:absolute;
    left:0.25rem;
    top:0.95rem;
}
.gome-three-r-top .gome-three-hot{
    width:0.63rem;
    height:0.26rem;
    position:absolute;
    background:url(../images/index-hot.png) no-repeat;
    left:0.25rem;
    top:1.47rem;
    text-indent:-999rem;
    background-size:100%;
}
.gome-three-r-bottom .gome-three-fashion{
    width:1.13rem;
    height:0.26rem;
    position:absolute;
    background:url(../images/index-fashion.png) no-repeat;
    left:0.25rem;
    top:1.47rem;
    text-indent:-999rem;
    background-size:100%;
}
.gome-three-r-top{
	width:100%;
	height:2.2rem;
	position:relative;
	left:0;
	top:0;
	border-bottom:1px solid #ececec;
}
.gome-three-r-top .gome-three-img{
	width:1.99rem;
	height:2.09rem;
	position:absolute;
	right:0;
	top:0;
}
.gome-three-r-bottom .gome-three-img{
	width:1.99rem;
	height:2.09rem;
	position:absolute;
	right:0;
	top:0;
}
.gome-six .gome-shop{
	float:left;
	width:3.75rem;
	height:2.2rem;
	border-right:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	position:relative;
}
/* .gome-six .gome-shop-l{
	width:1.875rem;
	height:2.2rem;
	position:absolute;
	left:0.3rem;
	top:0.3rem;
	z-index:2;
	overflow:hidden;
} */
.gome-six h3{
	font-size:0.35rem;
	color:#333333;
	position:absolute;
	left:0.48rem;
	top:0.48rem;
	font-weight:bold;
}
.gome-six p{
	font-size:0.16rem;
	color:#acacac;
	position:absolute;
	left:0.48rem;
	top:1.0rem;
}
.gome-six img{
	position:absolute;
	width:1.80rem;
	height:1.65rem;
	left:1.85rem;
	top:0.33rem;
}
.gome-two .gome-shop2{
	width:7.5rem;
	height:2.2rem;
	border-bottom:1px solid #e4e4e4;
	position:relative;
	left:0;top:0;
	display:block;
}
.gome-shop2 .gome-shop-l{
	position:absolute;
	left:0.48rem;
	top:0.48rem;
}
.gome-shop2 h3{
	font-size:0.35rem;
	color:#333333;
	font-weight: bold;
	position:absolute;
	left:0.45rem;
	top:0.43rem;
}
.gome-shop2 p{
    font-size:0.3rem;
    color:#999999;
    font-weight: bold;
    position:absolute;
    left:0.45rem;
    top:1.0rem;
}
.gome-shop2 .gome-shop-r{
     position:absolute;
     right:0;
     top:0;
     width:2.8rem;
     height:2.0rem;
}
.gome-shop2 .gome-shop-l-fashion{
	 width:1.13rem;
    height:0.26rem;
    position:absolute;
    background:url(../images/index-fashion.png) no-repeat;
    left:0.45rem;
    top:1.53rem;
    text-indent:-999rem;
    background-size:100%;
}
.Index-market header{
	width:100%;
	height:0.7rem;
	background:url(../images/index-market.png) no-repeat left #ececec;
	background-size:1.85rem;
	text-indent: -999rem;
}
.Index-market .market-1{
	float:left;
	width:1.93rem;
	height:2.19rem;
	border-right:1px solid #ececec;
	border-bottom:1px solid #ececec;
	background:#fff;
	position:relative;
}
.Index-market .market-1 h3{
	font-size:0.20rem;
	position:absolute;
	left:0.35rem;
	top:0.15rem;
	font-weight:bold;
}
.Index-market .market-1 p{
	font-size:0.10rem;
	color:#9f9f9f;
	position:absolute;
	left:0.35rem;
	top:0.55rem;
}
.Index-market .market-1 img{
	width:1.5rem;
	height:1.35rem;
	position:absolute;
	left:0.35rem;
	top:0.75rem;
}
.Index-market .market-2{
	float:left;
	width:1.80rem;
	height:2.19rem;
	border-right:1px solid #ececec;
	border-bottom:1px solid #ececec;
	background:#fff;
	position:relative;
}
.Index-market .market-2 h3{
	font-size:0.23rem;
	position:absolute;
	left:0.35rem;
	top:0.15rem;
	font-weight:bold;
}
.Index-market .market-2 p{
	font-size:0.10rem;
	color:#9f9f9f;
	position:absolute;
	left:0.35rem;
	top:0.55rem;
}
.Index-market .market-2 img{
	width:1.70rem;
	height:1.25rem;
	position:absolute;
	left:0.05rem;
	top:0.75rem;
}
.Index-market .market-3{
	float:left;
	width:1.94rem;
	height:2.19rem;
	border-bottom:1px solid #ececec;
	background:#fff;
	position:relative;
}
.Index-market .market-3 h3{
	font-size:0.23rem;
	position:absolute;
	left:0.35rem;
	top:0.15rem;
	font-weight:bold;
}
.Index-market .market-3 p{
	font-size:0.09rem;
	color:#9f9f9f;
	position:absolute;
	left:0.35rem;
	top:0.55rem;
}
.Index-market .market-3 img{
	width:1.0rem;
	height:1.10rem;
	position:absolute;
	left:0.40rem;
	top:0.94rem;
}
.Index-foryou header{
	width:100%;
	height:0.7rem;
	background:url(../images/index-foryou.png) no-repeat left #ececec;
	background-size:1.85rem;
	text-indent: -999rem;
}
.Index-foryou .foryou-shop{
	width:3.45rem;
	height:4.80rem;
	background:#fff;
	float:left;
	margin:0 0 0.21rem 0.20rem;
}
.Index-foryou .foryou-shop img{
    width:3.45rem;
    height:3.18rem;
}
.foryou-shop .foryou-shop-font1{
	font-size:0.25rem;
	color:#333333;
	width:3.02rem;
	height:0.65rem;
	margin:0.25rem 0 0 0.18rem;
}
.foryou-shop .foryou-shop-font1 span{
	font-size:0.25rem;
	background:#ee2f2f;
	border-radius:30%;
	color:#fff;
	width:0.38rem;
	height:0.38rem;
	display:inline-block;
	text-align:center;
}
.foryou-shop .foryou-shop-font2{
	width:3.0rem;
	height:0.50rem;
	font-size:0.20rem;
	margin:0.1rem 0 0 0.18rem;
	color:#ee2f2f;
}
.foryou-shop .foryou-shop-font2 .color1{
	color:#ee2f2f;
	font-size:0.35rem;
	font-weight:bold;
}
.foryou-shop .foryou-shop-font2 .color2{
	font-size:0.2rem;
	color:#999999;
}
.gomeIndex .Index-adshop{
	width:100%;
	height:4.76rem;
	background:#fff;
	position:relative;
	border-top:1px solid #fff;
}
.Index-adshop .adshop-shopdetail{
	width:7.10rem;
	height:1.68rem;
	background:#f9f9f9;
	margin:0.2rem;
	display:block;
}
.adshop-shopdetail .adshop-shopdetail-img{
	width:1.68rem;
	float:left;
}
.adshop-shopdetail .adshop-shopdetail-title{
    width:5.42rem;
    height:1.68rem;
    float:left;
    position:relative;
}
.adshop-shopdetail .adshop-shopdetail-title h3{
    font-size:0.28rem;
    color:#999999;
    position:absolute;
    left:0.20rem;
    top:0.50rem;
}
.adshop-shopdetail .adshop-shopdetail-title p{
	width:1.0rem;
	height:0.4rem;
    font-size:0.17rem;
    background:#ee2f2f;
    color:#fff;
    border-radius:0.1rem;
    position:absolute;
    left:0.20rem;
    top:1.05rem;
    text-align:center;
}
.Index-adshop .adshop-products{
	width:2.48rem;
	height:2.48rem;
	/* position:absolute;
	left:0;
	top:2.08rem; */
	float:left;
	margin-right:0.02rem;
}
.Index-adshop .adshop-products img{
	width:100%;
}
.Index-adshop .adshop-products1{
	width:2.48rem;
	height:2.48rem;
	position:absolute;
	left:2.52rem;
	top:2.08rem;
}
.Index-adshop .adshop-products1 img{
	width:100%;
}
.Index-adshop .adshop-products2{
	width:2.48rem;
	height:2.48rem;
	position:absolute;
	left:5.03rem;
	top:2.08rem;
}
.Index-adshop .adshop-products2 img{
	width:100%;
}
.Index-foryou .foryou-padd{
	padding-top:0.20rem;
}