 @charset "utf-8";
/*全局*/
body,div,p,ul,ol,li,dl,dt,dd,form,input,table,img,h1,h2,h3,h4,h5,h6,header,section,footer,nav,figure,figcaption,article{margin:0;padding:0}
header,section,footer,nav,figure,figcaption,article,menu{display:block}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,a:hover{text-decoration:none;color:#333333;cursor:pointer;}
img{border:none;display:inline-block;}
em,i,b,strong{font-style:normal;font-weight: normal;}
.l,.left{float:left;display:inline-block;}
.r,.right{float:right;display:inline-block;}
.clear:after{content:'';display:block;width:0;height:0;overflow:hidden;clear:both;}
header,nav,section,footer{min-width:320px;}
.w280{min-width:280px;margin:0 2%;}
.w300{min-width:300px;margin:0 3%;}
*{box-sizing:border-box;}
/**************/
html{
	background-color: #ECECEC;
    height: 100%;
    font-family: "Microsoft YaHei", Arial, "Helvetica";
}
body{
	height: 100%;
	font-size: 62.5%;
	background-color: #ECECEC;
    font-family: "Microsoft YaHei", Arial, "Helvetica";
}
.page{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	position:relative;height:100%;
}

/*头部*/
header{
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #f9f9f9;
	position: relative;
}
header h1{
	font-size: 20px;
}
header a{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
}
header a img{
	width: auto;
	height: 100%;
}
header .goback{
	left: 10px;	
}
header .nav_fenlei{
	right: 50px;
}
header .share{
	right: 10px;
}
section{
	width: 100%;
}
section	.quans{
	padding:20px 10px 0 10px;
}
.quans dl{
	width: 100%;
	background: #fff;
	border:1px solid #ECECEC;
	height: 70px;
	position: relative;
}
.quans dd{
	font-size: 16px;
	color: #666;
}
.quans dt{
	float: left;
	margin-left: 15px;
	width: 40px;
	height: 40px;
	margin-top: 15px;
	background: url(../../../../images/op/app-redpacket/default1.png) no-repeat;
	background-size:100% 100%;
}
.quans dt img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.quans dd{
	margin-left: 75px;
	font-size: 16px;
	color:#666;
	line-height: 70px;
}
.quans span{
	position: absolute;
	width: 13px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	right: 19px;
}
.quans span img{
	width: 100%;
}

.quanlist{
	padding: 0 10px;
}

.quanlist li{
	width: 100%;
	height: 103px;
	margin-top: 25px;
	background:url(../../../../images/op/app-redpacket/noling.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	padding:0 15px 0 15px;
}
.quanlist li h2{
	font-size: 16px;
	color: #666;
	padding-top: 30px;
}
.quanlist li p{
	font-size: 12px;
	color: #999;
	margin-top: 8px;
}
.quanlist li h3{
	font-size: 12px;
	color: #999;
	margin-top:7px;
}
.quanlist li h3 i{
	font-size: 9px;
	color: #999;
}
.quanlist li h3 span{
	float: right;
	font-size: 14px;
	color: #47beda;
}
.quanlist li div{
	position: absolute;
	font-size: 30px;
	/*font-weight: bold;*/
	color: #47beda;
	top: 10px;
	right: 2px;
}
.yinzhang{
	position: absolute;
	top: 0;
	left: 40%;
	width: 60px;
}
.quanlist li div em{
	font-size: 16px;
}
.quanlist li.high{
	background:url(../../../images/vShop/yiling.png) no-repeat;
	background-size: 100% 100%;
	padding:0 15px 0 10px;
}
.quanlist li.high h2{
	padding-top: 30px;
}
.quanlist li.high h3{
	color: #fff;
	margin-top: 7px;
}
.quanlist li.high h3 span{
	color: #fff;
}
.quanlist li.high h3 i{
	color: #fff
}


