.list-body {
  background: url(../../../images/gomeplus/rabate-bg.jpg) #f5fcfe no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

.list-title-box {
  overflow: hidden;
}

.fight-title {
  float: left;
  width: 3.24rem;
  height: 0.9rem;
  background: url(../../../images/gomeplus/title-fight.png) no-repeat;
  background-size: cover;
  margin: 0.47rem 0 0.2rem 2.11rem;
}

.all-list-title {
  float: right;
  width: 1.58rem;
  height: 0.45rem;
  background: url(../../../images/gomeplus/title-all-list.png) no-repeat;
  background-size: cover;
  margin: 0.78rem 0.32rem 0.27rem 0;
}

.fight-title-small {
  width: 1.65rem;
  height: 0.45rem;
  background: url(../../../images/gomeplus/title-fight-small.png) no-repeat;
  background-size: cover;
  margin: 0.06rem 0 0.09rem 0.24rem;
}

.list {
  height: 1.5rem;
  padding: 0.3rem 0.4rem 0.3rem 0.2rem;
  background-color: #fefcd3;
  border-bottom: 1px solid #ffed8b;
}
.list dt, .list dd, .list dt em, .list .name {
  float: left;
}
.list dt {
  width: 1.44rem;
  margin-right: 0.14rem;
}
.list dt em {
  width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  color: #f1963d;
  font-size: 0.28rem;
  font-style: normal;
  margin-top: 0.33rem;
}
.list dt .top-three {
  border-radius: 0.17rem;
  color: #fff;
  margin-top: 0.27rem;
}
.list dt .first {
  background-color: #f16e27;
}
.list dt .second {
  background-color: #f99225;
}
.list dt .third {
  background-color: #ffbb1b;
}
.list dt .user-head {
  float: right;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  overflow: hidden;
}
.list dt .user-head img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
.list dd {
  width: 5.32rem;
}
.list dd .name {
  padding: 0.16rem 0 0.14rem;
}
.list dd .name h3 {
  line-height: 1;
  margin-bottom: 0.15rem;
  height: .28rem;
}
.list dd .name .user-name {
  float: left;
  font-size: 0.28rem;
  color: #f09032;
  margin-right: 0.18rem;
}
.list dd .name .user-tag {
  float: left;
  padding: 0 0.07rem 0 0.01rem;
  height: 0.24rem;
  line-height: 0.26rem;
  border-radius: 0 0.03rem 0.03rem 0;
  text-align: center;
  color: #fff;
  font-size: 0.14rem;
  background-color: #ffbb1b;
  position: relative;
  margin-bottom: -0.02rem;
}
.list dd .name .user-tag .triangle {
  position: absolute;
  left: -0.12rem;
  top: 0rem;
  width: 0;
  height: 0;
  border-top: 0.12rem solid transparent;
  border-right: 0.13rem solid #ffbb1b;
  border-bottom: 0.13rem solid transparent;
}
.list dd .dd-b-txt {
  font-size: 0.22rem;
  color: #605f5f;
  display: inline-block;
}
.list dd .count {
  float: right;
  text-align: center;
}
.list dd .count .points {
  display: block;
  color: #f09032;
  font-size: 0.34rem;
  margin: 0.15rem 0;
}
.list dd .count .dd-b-txt {
  font-size: .22rem;
  display: inline-block;
  height: .32rem;
  line-height: .34rem;
  padding: 0 .15rem;
  background-color: #ffbb1b;
  border-radius: .16rem;
  color: #fff;
}

.user-list {
  background-color: #ffed8b;
}

.bottom-txt {
  font-size: 0.28rem;
  color: #3a230a;
  text-align: center;
  margin: 0.45rem auto 0.26rem;
}

.know-more-btn {
  width: 3.76rem;
  margin: 0 auto 1.47rem;
}
