html, body {
  height: 100%;
}

body {
  background: url(../../../images/gomeplus/test-md-bg.png) #f5fcfe no-repeat;
  background-size: 100% auto;
}

.test-body {
  min-height: 100%;
  background: url(../../../images/gomeplus/test-bt-bg.png) no-repeat left bottom;
  background-size: 100% auto;
}

.state-list {
  line-height: 0.72rem;
  padding: 0.24rem 0.24rem 0.24rem 0.38rem;
}
.state-list .state-item {
  text-align: justify;
}
.state-list .state-item .state-tl {
  font-weight: normal;
  color: #118dc0;
  font-size: 0.3rem;
}
.state-list .state-item .state-para {
  padding-left: 0.4rem;
  color: #666;
  font-size: 0.28rem;
  position: relative;
}
.state-list .state-item .state-para:before {
  content: '';
  position: absolute;
  top: 0.32rem;
  left: 0.24rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background-color: #666;
}
