.curtain {
  width: 100%;
  position: relative;
  height: 5.66rem;
  background: url(../../../images/gomeplus/curtain.jpg) no-repeat;
  background-size: cover;
  padding: 1px;
}
.curtain .duang {
  position: absolute;
  top: 0.1rem;
  left: 0.6rem;
  width: 3.68rem;
  height: 1.8rem;
  background: url(../../../images/gomeplus/daung.png) no-repeat;
  background-size: cover;
  z-index: 10;
}
.curtain .card {
  width: 6.4rem;
  min-height: 2.5rem;
  background-color: #fdfbe5;
  border-radius: 0.2rem;
  position: relative;
  margin: 1.4rem auto 0;
  padding-top: 0.5rem;
  text-align: center;
  color: #666;
  font-size: 0.3rem;
  line-height: 1.6;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}
.curtain .card strong {
  color: #fa5a5a;
  font-weight: normal;
  font-size: 0.36rem;
}
.curtain .card:before {
  content: "";
  position: absolute;
  top: 0.16rem;
  right: 0.16rem;
  bottom: 0.16rem;
  left: 0.16rem;
  border-radius: 0.2rem;
  border: 1px dashed #f8b551;
}

.role-female {
  position: relative;
  display: block;
  width: 5.78rem;
  height: 4.92rem;
  margin: -0.92rem auto 0;
}

.result-btns {
  text-align: center;
  margin-top: 0.8rem;
}
.result-btns .xin-btn {
  display: inline-block;
  padding: 0 0.7rem;
  margin: 0 0.2rem;
}
