html {
  height: 100%;
}

body {
  text-align: center;
}

p {
  color: #999;
  font-size: 0.32rem;
}

.detector {
  width: 4.23rem;
  height: 4.1rem;
  margin-top: 1.3rem;
}

.detector-txt {
  margin-top: 0.32rem;
}

.female-bg {
  background: url(../../../images/gomeplus/test-sexf-bg.jpg) no-repeat;
}

.male-bg {
  background: url(../../../images/gomeplus/test-sexm-bg.jpg) no-repeat;
}

.test-sex-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.result-sex {
  width: 3.09rem;
  height: 3.09rem;
  margin-top: 1.53rem;
}

.result-txt {
  margin-top: 0.25rem;
}

.logo-sex {
  margin-top: 0.22rem;
}

.logo-female {
  width: 0.62rem;
  height: 0.87rem;
}

.logo-male {
  width: 0.8rem;
  height: 0.81rem;
}

.test-sex-btn {
  width: 5.18rem;
  margin: 0.62rem auto 0;
}

.result-null {
  margin-top: 1.62rem;
  margin-left: 0.25rem;
  width: 3.42rem;
  height: 3.29rem;
}

.null-txt {
  margin-top: 0.37rem;
  line-height: 0.42rem;
}
.null-txt span {
  display: block;
}

.null-btns {
  position: relative;
  margin-top: 2.17rem;
  margin-left: -0.5rem;
}
.null-btns img {
  position: absolute;
  bottom: 0.69rem;
  width: 1.2rem;
  height: 1.22rem;
}
.null-btns .null-male {
  left: 1.9rem;
}
.null-btns .null-female {
  right: 1.4rem;
}
.null-btns .xin-btn {
  width: 3.08rem;
  display: inline-block;
  margin-left: 0.5rem;
}
