.test-start-bg {
  width: 100%;
  height: 6.85rem;
  background: url(../../../images/gomeplus/test-start-bg.jpg) no-repeat;
  background-size: cover;
}

.test-start-txt {
  color: #999;
  font-size: 0.32rem;
  text-align: center;
  margin-top: 0.7rem;
}

.test-start-btn {
  width: 5.18rem;
  margin: 0.4rem auto 0;
}
