html, body {
  height: 100%;
}

body {
  background: url(../../../images/gomeplus/test-md-bg.png) #f5fcfe no-repeat;
  background-size: 100% auto;
}

.test-body {
  min-height: 100%;
  background: url(../../../images/gomeplus/test-bt-bg.png) no-repeat left bottom;
  background-size: 100% auto;
}
.test-body .xin-btn {
  margin: 0.2rem 1.15rem 0.4rem;
}
.test-body .test-bg {
  height: 100%;
  padding: 0.2rem 0.2rem 0.7rem;
}

.test-list .test-title {
  font-weight: normal;
  margin: 0.1rem 0;
  font-size: 0.3rem;
  line-height: 0.78rem;
}
.test-list .test-option {
  display: block;
  font-size: 0.28rem;
  line-height: 0.72rem;
}
.test-list .test-option .ip-radio {
  display: none;
}
.test-list .test-option .ip-radio:checked + .icon-radio {
  background: url(../../../images/gomeplus/true.png) no-repeat;
  background-size: cover;
}
.test-list .test-option .icon-radio {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.1rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../images/gomeplus/false.png) no-repeat;
  background-size: cover;
}
.test-list .ip-txt {
  display: inline-block;
  width: 1.3rem;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: none;
  color: #ee2f2f;
  border-radius: 0;
  text-align: center;
}
